@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 95%;
    --foreground: 216 33% 20%;
    --card: 0 0% 100%;
    --card-foreground: 216 33% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 216 33% 20%;
    --primary: 216 33% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 33% 85%;
    --secondary-foreground: 216 33% 20%;
    --muted: 216 33% 90%;
    --muted-foreground: 216 33% 40%;
    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 33% 80%;
    --input: 216 33% 98%;
    --ring: 25 95% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 216 33% 10%;
    --foreground: 40 33% 95%;
    --card: 216 33% 12%;
    --card-foreground: 40 33% 95%;
    --popover: 216 33% 12%;
    --popover-foreground: 40 33% 95%;
    --primary: 40 33% 95%;
    --primary-foreground: 216 33% 10%;
    --secondary: 216 33% 20%;
    --secondary-foreground: 40 33% 95%;
    --muted: 216 33% 20%;
    --muted-foreground: 40 33% 80%;
    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 33% 25%;
    --input: 216 33% 25%;
    --ring: 25 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
